/* Your styles here */
* {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #222f3f;
}

body {
  background-color: #e3e6e6;
}

main {
  padding-left: 35px;
  padding-right: 35px;
}

.sub-header {
  background-color: #364759;
  font-size: large;
  padding: 10px;
  line-break: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.underline {
  color: white;
  text-decoration: none;
  padding: 5px;
}

.underline_1 {
  color: #0c5dac;
  text-decoration: none;
}

.shop {
  background-color: #ff6201;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: large;
  padding: 5px;
  color: white;
}

.green_gift {
  background-image: url(../images/bg-image.png);
  background-size: contain;
  height: 200px;
  text-align: center;
  margin-bottom: 20px;
  font-size: x-large;
  color: white;
}

h2 {
  font-size: xx-large;
  padding-top: 50px;
  padding-bottom: 50px;
}
.primoparagrafo {
  background-color: white;
  padding-bottom: 40px;
  border: solid 1px #dee1e3;
  line-height: 1.7;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 25px;
}
.alignleft {
  text-align: left;
  font-size: larger;
}
.photos {
  display: inline-block;
  max-width: 22%;
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
  margin: 20px 20px;
}

.photos_1 {
  width: 100%;
  object-fit: cover;
}

.secondoparagrafo {
  text-align: center;
  font-size: xx-large;
  margin-bottom: 30px;
}

.terzoparagrafo {
  background-color: #364759;
  text-align: center;
  font-size: x-large;
  padding: 20px;
}

.white {
  color: white;
}

footer {
  color: white;
  text-align: center;
  background-color: #222f3f;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.imgfooter {
  margin-top: 50px;
  margin-bottom: 50px;
}
